*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  cursor: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.4%;
  cursor: none; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 54%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 45%; } }

body {
  overflow: hidden;
  background-color: #000;
  cursor: none; }
  @media only screen and (max-width: 25em) {
    body {
      overflow: visible; } }

.pic {
  z-index: 10000000;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000; }
  @media only screen and (max-width: 25em) {
    .pic {
      display: none; } }

.blur {
  height: 100%; }

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%; }

.cursor {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 50%;
  transform: translate(15px 15px);
  z-index: 5500;
  transition: top .15s, left .15s;
  overflow: hidden;
  mix-blend-mode: difference;
  vertical-align: baseline;
  pointer-events: none; }
  .cursor.expand {
    width: 100px;
    height: 100px;
    transform: translate(-3.5rem, -3.5rem);
    transition: height 0.4s cubic-bezier(0.52, -0.44, 0.56, 1.41), width 0.4s cubic-bezier(0.52, -0.44, 0.56, 1.41), transform 0.4s linear; }

.cursor-small {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 5551; }
  .cursor-small.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .3s; }

.circle {
  fill: #fff; }

.logo {
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateY(-50%) scale(0.8);
  margin-left: -70px;
  margin-top: -70px;
  width: 140px;
  height: 140px;
  overflow: visible; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      display: none; } }
  .logo.active {
    top: 10rem;
    left: 5rem;
    transform: translateY(-50%) scale(0.1);
    transition: all 1s; }
  .logo__mainGroup {
    transform-origin: 35px 35px; }
  .logo__colorGroupTwo {
    transform: translateY(230px); }
  .logo__colorGroup.active {
    animation: move 2s linear infinite; }
  .logo__grayGroup {
    animation: grayGroupAnim 9s 3s infinite;
    animation-delay: 4s; }
  .logo__grayGroupTwo {
    transform: translateY(100px);
    animation: grayGroupAnim 9s 1s;
    animation-iteration-count: 1;
    animation-delay: 4s; }
  .logo__square {
    stroke: #9E9E9E;
    stroke-dasharray: 280, 280;
    stroke-dashoffset: 280;
    animation: square-anim 9s 1s;
    animation-iteration-count: 1;
    animation-delay: 4s; }
  .logo__squareTwo {
    stroke: #9E9E9E;
    stroke-dasharray: 620, 620;
    stroke-dashoffset: 620;
    animation: square-anim 9s 1s;
    animation-iteration-count: 1;
    animation-delay: 4s; }
  .logo__stroke {
    stroke: #80beff;
    stroke-dasharray: 600, 600;
    stroke-dashoffset: 600;
    animation: strokeAnim 9s 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 4s; }
  .logo__strokeTwo {
    stroke: #80beff;
    stroke-dasharray: 1050, 1050;
    stroke-dashoffset: 1050;
    animation: strokeAnimTwo 9s 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 4s; }
  .logo__fill {
    z-index: 100000;
    stroke: #80beff;
    stroke-dasharray: 290, 290;
    stroke-dashoffset: 290;
    animation: fillAnim 9s 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s; }
  .logo__fillTwo {
    z-index: 100000;
    stroke: #80beff;
    stroke-dasharray: 650, 650;
    stroke-dashoffset: 650;
    animation: fillAnimTwo 9s 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s; }

@keyframes square-anim {
  12% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes mainGroupAnim {
  26% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(-45deg); }
  95% {
    transform: rotate(-45deg);
    opacity: 1; }
  100% {
    transform: rotate(-45deg);
    opacity: 1; } }

@keyframes grayGroupAnim {
  33% {
    opacity: 1; }
  40% {
    opacity: 0.5; }
  70% {
    opacity: 0.5; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes strokeAnim {
  33% {
    stroke-dashoffset: 600; }
  66% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes strokeAnimTwo {
  33% {
    stroke-dashoffset: 1050; }
  66% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes fillAnim {
  66% {
    stroke-dashoffset: 290; }
  85% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes fillAnimTwo {
  66% {
    stroke-dashoffset: 650; }
  85% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes move {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-2rem); }
  75% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes border {
  0% {
    stroke-dashoffset: 300; }
  100% {
    stroke-dashoffset: 0; } }

.loading {
  height: 80px;
  width: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3rem;
  right: 5rem;
  transform: matrix(1, 0, 0, 1, 5, 5);
  z-index: 10000000; }
  @media only screen and (max-width: 25em) {
    .loading {
      display: none; } }
  .loading p {
    font-family: Arial;
    color: #ffc36d;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    padding: .5rem; }
  .loading-circle {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    background-color: transparent; }

.circle-fill {
  width: 100%;
  height: 100%;
  stroke-dasharray: 300, 300;
  stroke-dashoffset: 300; }
  .circle-fill.active {
    animation: border 1s linear; }

.empty {
  width: 5rem;
  height: 1rem; }

.circle-big {
  fill: #fff; }

.cursor-box {
  pointer-events: none; }

.list__number {
  padding: 1rem 2rem; }

.line {
  width: 1px;
  height: 0;
  background-color: lightgray;
  transition: height .5s ease-in; }
  .line.active {
    width: 1px;
    height: 10rem;
    transition: height .5s ease-in; }
  @media only screen and (max-width: 50em) {
    .line {
      height: 1px;
      width: 0;
      transition: width .5s ease-in; }
      .line.active {
        height: 1px;
        width: 10rem;
        transition: width .5s ease-in; } }

.wrapper-center {
  margin-right: auto;
  margin-left: auto;
  width: 80%; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 4rem 1rem;
  z-index: 100000;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      right: unset;
      left: 0; } }
  .nav.active {
    display: block; }
  .nav__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav__box-content {
      padding: 2rem 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: auto; }
      @media only screen and (max-width: 37.5em) {
        .nav__box-content {
          padding: 2rem 1rem; } }
      .nav__box-content-list {
        display: flex;
        flex-direction: column;
        list-style: none; }
        .nav__box-content-list-items {
          padding: 1rem .5rem;
          color: #80beff;
          font-size: 1.6rem; }
          .nav__box-content-list-items > a {
            text-decoration: none;
            color: inherit; }
    .nav__box__menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 4rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav__box__menu__button {
        width: 2rem;
        height: .3rem;
        background-color: #80beff;
        display: block;
        transition: all .3s; }
        .nav__box__menu__button:before {
          display: block;
          content: "";
          width: 4rem;
          height: .3rem;
          background-color: #80beff;
          transform: translate(-1rem, -1rem);
          transition: all .3s; }
        .nav__box__menu__button:after {
          display: block;
          content: "";
          width: 4rem;
          height: .3rem;
          background-color: #80beff;
          transform: translate(-1rem, 0.8rem);
          transition: all .3s; }
        .nav__box__menu__button.active {
          height: 0;
          transition: all .3s; }
          .nav__box__menu__button.active:before {
            transform: translate(-1rem, 0.1rem) rotate(45deg);
            transition: all .3s; }
          .nav__box__menu__button.active:after {
            transform: translate(-1rem, -0.2rem) rotate(-45deg);
            transition: all .3s; }

.top {
  background-image: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.7) 90%, black 100%), url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .top__box {
    transform: translateX(-500px);
    visibility: hidden;
    opacity: 0; }
    .top__box.active {
      transform: translateX(0);
      opacity: 100;
      visibility: visible;
      transition: all 1s; }
    .top__box-header {
      white-space: nowrap;
      display: flex; }
      .top__box-header > div {
        font-weight: 400;
        font-family: "Fredericka the Great";
        font-size: 12rem;
        color: lightgray;
        transition: all .3s; }
        @media only screen and (max-width: 37.5em) {
          .top__box-header > div {
            font-size: 8rem; } }
        .top__box-header > div:hover {
          transform: translateY(-30px);
          transition: all .3s; }
  .top__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; }
    .top__navbar.active {
      transform: translateX(0%);
      opacity: 100;
      visibility: visible;
      transition: transform 0.8s cubic-bezier(0.52, -0.44, 0.56, 1.41), opacity 1.2s; }
      .top__navbar.active.close {
        transform: translateX(100%);
        transition: transform 0.7s cubic-bezier(0.52, -0.44, 0.56, 1.41), opacity 1.2s; }
    .top__navbar__list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20%; }
      .top__navbar__list__item {
        padding: 2rem 2rem;
        font-size: 3rem;
        color: #80beff;
        font-family: "Kaushan Script";
        position: relative; }
        @media only screen and (max-width: 37.5em) {
          .top__navbar__list__item {
            font-size: 2.5rem;
            padding: 2rem 1rem; } }
        @media only screen and (max-width: 25em) {
          .top__navbar__list__item {
            font-size: 1.8rem;
            padding: 2rem 1rem; } }
        .top__navbar__list__item > a {
          text-decoration: none;
          color: inherit; }

.top {
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  padding-left: 20rem;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .top {
      padding-left: 10rem; } }
  @media only screen and (max-width: 25em) {
    .top {
      padding-left: 6rem; } }

.boxpanel {
  pointer-events: none;
  transform: translate(200px, 800px);
  position: absolute;
  top: 10%;
  left: 15%;
  height: 60rem;
  width: 50rem;
  background-color: #fff;
  mix-blend-mode: difference;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  visibility: hidden;
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .boxpanel {
      left: 20%;
      height: 50rem;
      width: 40rem; } }
  @media only screen and (max-width: 25em) {
    .boxpanel {
      left: 20%;
      height: 40rem;
      width: 30rem; } }
  .boxpanel.active {
    visibility: visible;
    opacity: 100;
    transform: translate(-200px, -900px);
    transition: transform .3s ease-in-out; }

.boxpanelPrime {
  pointer-events: none;
  transform: translate(200px, 800px);
  position: absolute;
  top: 10%;
  left: 15%;
  height: 60rem;
  width: 50rem;
  background-color: #fff;
  mix-blend-mode: difference;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  visibility: hidden;
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .boxpanelPrime {
      left: 20%;
      height: 50rem;
      width: 40rem; } }
  @media only screen and (max-width: 25em) {
    .boxpanelPrime {
      left: 20%;
      height: 40rem;
      width: 30rem; } }
  .boxpanelPrime.active {
    visibility: visible;
    opacity: 100;
    transform: translate(0px, 0px);
    transition: transform .15s ease-in;
    transition-delay: .9s; }

@keyframes stripes {
  to {
    background-size: 100% 100%; } }

.about {
  margin-top: 10rem;
  padding-bottom: 20rem;
  background-image: url("../img/logo_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  overflow: hidden;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin-top: 5rem;
      padding-bottom: 5rem; } }
  .about__content__top {
    padding: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .about__content__top {
        padding: 4rem; } }
    @media only screen and (max-width: 25em) {
      .about__content__top {
        padding: 1.5rem; } }
    .about__content__top__header {
      padding-top: 4rem;
      font-family: "Lato";
      text-align: center;
      font-size: 1.8rem;
      color: rgba(184, 184, 184, 0.72);
      line-height: 4rem;
      letter-spacing: .2rem; }
      @media only screen and (max-width: 37.5em) {
        .about__content__top__header {
          letter-spacing: .1rem;
          line-height: 3rem;
          font-size: 1.6rem; } }
      @media only screen and (max-width: 25em) {
        .about__content__top__header {
          letter-spacing: .1rem;
          line-height: 3rem;
          font-size: 1.4em; } }
  .about__content__bottom {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 62.5em) {
      .about__content__bottom {
        flex-wrap: wrap; }
        .about__content__bottom > * {
          flex: 0 0 20%; } }
    @media only screen and (max-width: 37.5em) {
      .about__content__bottom {
        flex-direction: column; } }

.skill__img {
  position: relative;
  width: 150px;
  height: 200px;
  flex: 0 0 10%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 1500px) {
    .skill__img {
      width: 120px; } }
  @media only screen and (max-width: 75em) {
    .skill__img {
      width: 100%; } }
  @media only screen and (max-width: 62.5em) {
    .skill__img.skill__down > img.active {
      transform: translateY(130px); }
    .skill__img.skill__down .under {
      transform: translateY(130px); }
      .skill__img.skill__down .under.active {
        transform: translateY(0); } }
  @media only screen and (max-width: 37.5em) {
    .skill__img {
      width: 150px; }
      .skill__img.skill__right > img.active {
        transform: translateX(100%); }
      .skill__img.skill__right .under {
        text-align: center;
        color: #fff;
        font-size: 4rem;
        font-family: "Fredericka the Great";
        filter: grayscale(70%) brightness(150%);
        width: 100%;
        height: auto;
        object-fit: cover;
        transform: translateY(130px);
        opacity: 0;
        visibility: hidden; }
        .skill__img.skill__right .under.active {
          visibility: visible;
          opacity: 100;
          transform: translateY(0);
          transition: all 0.5s cubic-bezier(0.52, -0.44, 0, 1.41);
          transition-delay: .2s; }
      .skill__img.skill__left > img.active {
        transform: translateX(-100%); }
      .skill__img.skill__left .under {
        transform: translateY(130px); }
        .skill__img.skill__left .under.active {
          transform: translateY(0); } }
  .skill__img > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: grayscale(80%) brightness(150%);
    transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
    .skill__img > img.active {
      filter: grayscale(10%) brightness(150%);
      transform: translateY(-130px);
      transition: all 0.3s cubic-bezier(0.52, -0.44, 0.56, 1.41); }

.div__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.52, -0.44, 0, 1.41); }

.under {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: "Fredericka the Great";
  filter: grayscale(70%) brightness(150%);
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(130px);
  opacity: 0;
  visibility: hidden; }
  .under.active {
    visibility: visible;
    opacity: 100;
    transform: translateY(21px);
    transition: all 0.5s cubic-bezier(0.52, -0.44, 0, 1.41);
    transition-delay: .2s; }

.projects {
  margin-top: 10rem;
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.7) 90%, black 100%), url("../img/solar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  overflow: hidden;
  width: 100%; }
  .projects__box {
    padding-top: 10rem;
    padding-left: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .projects__box {
        padding-top: 2rem;
        padding-left: 5rem; } }
    .projects__box__header {
      position: relative;
      color: rgba(255, 255, 255, 0.3);
      font-family: "Fredericka the Great";
      font-size: 8rem;
      padding-bottom: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .projects__box__header {
          font-size: 6rem; } }
      @media only screen and (max-width: 25em) {
        .projects__box__header {
          font-size: 4rem; } }
      .projects__box__header.animate {
        transition: all .8s; }
        .projects__box__header.animate span {
          transition: all 1.2s; }
      .projects__box__header span {
        white-space: nowrap;
        position: absolute;
        bottom: -1rem;
        transform: translateX(-100%);
        color: #80beff;
        font-family: "Fredericka the Great";
        font-size: 4rem; }
        @media only screen and (max-width: 37.5em) {
          .projects__box__header span {
            font-size: 3rem;
            transform: translate(-100%, -1rem); } }
        @media only screen and (max-width: 25em) {
          .projects__box__header span {
            font-size: 2rem;
            transform: translate(-100%, -2rem); } }
  .projects__content {
    padding: 10rem 2rem;
    display: flex; }
    @media only screen and (max-width: 50em) {
      .projects__content {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    .projects__content__list {
      flex: 0 0 10%; }
      .projects__content__list-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center; }
        @media only screen and (max-width: 50em) {
          .projects__content__list-list {
            flex-direction: row;
            align-items: center; } }
        .projects__content__list-list > li {
          font-size: 3rem;
          color: #fff;
          font-family: "Kaushan Script"; }
    .projects__content__title {
      flex: 0 0 40%;
      padding: 2rem; }
      @media only screen and (max-width: 1400px) {
        .projects__content__title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; } }
    .projects__content__photos {
      height: 400px;
      perspective: 1300px;
      transform-origin: 50% 50%;
      flex: 0 0 50%;
      width: 100%;
      position: relative; }
      @media only screen and (max-width: 1200px) {
        .projects__content__photos {
          transform: translateY(0); } }
      .projects__content__photos-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1600;
        transform-origin: 75% 75%; }
      .projects__content__photos__desktop {
        pointer-events: none;
        top: 10%;
        left: 10%;
        position: absolute;
        width: 80%;
        height: 60%;
        z-index: 9;
        transform: translateX(-200px);
        transition: transform 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
        .projects__content__photos__desktop.active {
          transform: translateX(0);
          transition: transform 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
          .projects__content__photos__desktop.active img {
            opacity: 100;
            visibility: visible;
            transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
        .projects__content__photos__desktop img {
          pointer-events: none;
          transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41);
          opacity: 0;
          visibility: hidden;
          width: 100%;
          height: auto;
          object-fit: cover;
          box-shadow: 2px 5px 100px 2px rgba(128, 190, 255, 0.3); }
      .projects__content__photos__mobile {
        pointer-events: none;
        top: 30%;
        left: 50%;
        position: absolute;
        width: 30%;
        height: 50%;
        z-index: 10;
        transform: translateX(200px);
        transition: transform 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
        .projects__content__photos__mobile.active {
          transform: translateX(0);
          transition: transform 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
          .projects__content__photos__mobile.active img {
            opacity: 100;
            visibility: visible;
            transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
        .projects__content__photos__mobile img {
          pointer-events: none;
          transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41);
          opacity: 0;
          visibility: hidden;
          width: 100%;
          height: auto;
          object-fit: cover;
          box-shadow: 2px 5px 100px 2px rgba(128, 190, 255, 0.3); }

.project__name {
  font-size: 4rem;
  font-family: "Kaushan Script";
  color: #80beff;
  padding-bottom: 4rem; }

.project__details {
  font-size: 1.8rem;
  font-family: "Lato";
  color: rgba(174, 174, 174, 0.79);
  padding-bottom: 4rem; }

.project__link-page {
  width: 25rem;
  position: relative;
  display: inline-block;
  border: 1px solid lightgray;
  font-size: 1.7rem;
  font-family: "Fredericka the Great";
  color: #fff;
  padding: 2rem 4rem; }
  .project__link-page a {
    color: inherit;
    text-decoration: none; }
  .project__link-page:hover > .top__left {
    transform: translate(-0.5rem, -0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-page:hover > .top__right {
    transform: translate(0.5rem, -0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-page:hover > .bottom__left {
    transform: translate(-0.5rem, 0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-page:hover > .bottom__right {
    transform: translate(0.5rem, 0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-page:hover > .content__link > .spanOne {
    transform: translate(0);
    transition: all 1s; }
  .project__link-page:hover > .content__link > .spanTwo {
    transform: translateY(105%);
    transition: all .5s; }

.project__link-git {
  width: 25rem;
  position: relative;
  display: inline-block;
  border: 1px solid lightgray;
  font-size: 1.8rem;
  font-family: "Fredericka the Great";
  color: #fff;
  padding: 2rem 4rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 1400px) {
    .project__link-git {
      margin-left: 0;
      margin-top: 2rem; } }
  .project__link-git a {
    color: inherit;
    text-decoration: none; }
  .project__link-git:hover > .top__left {
    transform: translate(-0.5rem, -0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-git:hover > .top__right {
    transform: translate(0.5rem, -0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-git:hover > .bottom__left {
    transform: translate(-0.5rem, 0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-git:hover > .bottom__right {
    transform: translate(0.5rem, 0.5rem) rotate(1080deg);
    transition: transform 2s; }
  .project__link-git:hover > .content__link > .spanOne {
    transform: translate(0);
    transition: all 1s; }
  .project__link-git:hover > .content__link > .spanTwo {
    transform: translateY(105%);
    transition: all .5s; }

.corners {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #000;
  border: 1px solid lightgray; }

.top__left {
  top: 0;
  left: 0;
  transform: translate(-0.5rem, -0.5rem) rotate(45deg);
  transition: transform 2s; }

.top__right {
  top: 0;
  right: 0;
  transform: translate(0.5rem, -0.5rem) rotate(45deg);
  transition: transform 2s; }

.bottom__left {
  bottom: 0;
  left: 0;
  transform: translate(-0.5rem, 0.5rem) rotate(45deg);
  transition: transform 2s; }

.bottom__right {
  bottom: 0;
  right: 0;
  transform: translate(0.5rem, 0.5rem) rotate(45deg);
  transition: transform 2s; }

.content__link {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 1.8rem;
  font-family: "Fredericka the Great";
  color: #fff;
  padding: 2rem 4rem;
  overflow: hidden; }
  .content__link > .spanOne {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    font-size: 1.8rem;
    font-family: "Fredericka the Great";
    color: #070707;
    padding: 2rem 4rem;
    background-color: rgba(80, 65, 6, 0.6);
    transform: translateX(-101%);
    transition: transform .5s;
    text-align: center; }
  .content__link > .spanTwo {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    font-size: 1.8rem;
    font-family: "Fredericka the Great";
    color: #fafafa;
    padding: 2rem 4rem;
    transform: translateY(0);
    transition: transform .5s;
    transition-delay: .2s;
    text-align: center; }

.hidden {
  visibility: hidden; }

@-moz-document url-prefix() {
  @media only screen and (max-width: 37.5em) {
    .projects {
      padding-bottom: 20rem; } } }

.form {
  overflow: hidden;
  width: 100%;
  position: relative; }
  .form__box {
    height: 100%; }
    .form__box__form {
      padding: 20rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .form__box__form {
          padding: 5rem 0; } }
      .form__box__form__label {
        transform: translate(-800px, -3rem);
        visibility: hidden;
        opacity: 0;
        font-size: 2rem;
        font-family: "Fredericka the Great";
        color: #80beff; }
        .form__box__form__label.active {
          visibility: visible;
          opacity: 100;
          transform: translate(0, -3rem);
          transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41);
          transition-delay: 1s; }
      .form__box__form input {
        width: 50%;
        padding: 1rem 4rem 0 4rem;
        border: none;
        border-bottom: 1px solid lightgray;
        background-color: transparent;
        outline: none;
        color: #fff;
        font-family: "Lato";
        font-size: 1.8rem;
        transform: translate(-800px);
        opacity: 0; }
        @media only screen and (max-width: 37.5em) {
          .form__box__form input {
            width: 80%; } }
        .form__box__form input.active {
          opacity: 100;
          transform: translate(0);
          transition: all 1.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
          .form__box__form input.active::placeholder {
            opacity: 0; }
          .form__box__form input.active:focus + label {
            transform: translate(-12rem, -3rem) !important;
            transition: all .5s;
            transition-delay: 0s !important; }
          .form__box__form input.active:not(:placeholder-shown) + label {
            transform: translate(-12rem, -3rem);
            transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41);
            transition-delay: 0s !important; }
      .form__box__form .textarea {
        margin-left: 18rem;
        width: 50%;
        padding: 1rem 4rem 0 4rem;
        border: none;
        border-bottom: 1px solid lightgray;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        font-family: "Lato";
        font-size: 1.8rem;
        outline: none;
        transform: translate(-800px);
        opacity: 0; }
        @media only screen and (max-width: 37.5em) {
          .form__box__form .textarea {
            margin-left: 8rem;
            width: 80%; } }
        .form__box__form .textarea.active {
          opacity: 100;
          transform: translate(0);
          transition: all 1s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
          .form__box__form .textarea.active::placeholder {
            opacity: 0; }
          .form__box__form .textarea.active:focus + label {
            transform: translate(-12rem -3rem);
            transition-delay: 0s !important;
            transition: all .4s; }
          .form__box__form .textarea.active:not(:placeholder-shown) + label {
            transform: translate(-12rem -3rem);
            transition: all .5s;
            transition-delay: 0s !important; }
      .form__box__form .input__submit-label {
        font-size: 6rem;
        margin-left: auto;
        margin-right: 16rem;
        color: rgba(255, 255, 255, 0.61);
        position: relative; }
        @media only screen and (max-width: 37.5em) {
          .form__box__form .input__submit-label {
            margin-right: 0; } }
        .form__box__form .input__submit-label:hover:before {
          width: 100%;
          transition: all 2s; }
        .form__box__form .input__submit-label:before {
          position: absolute;
          transform: translate(0, 4rem);
          content: "";
          display: block;
          height: .7rem;
          width: 0;
          background-color: red;
          z-index: -1;
          transition: all 1.5s; }
        .form__box__form .input__submit-label .input__span {
          z-index: 10;
          position: absolute;
          font-size: 3rem;
          font-family: "Lato";
          color: #80beff;
          transform: translate(8rem, -3rem); }
          @media only screen and (max-width: 37.5em) {
            .form__box__form .input__submit-label .input__span {
              transform: translate(0, 0); } }
  .form__animation__left {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    clip-path: polygon(20% 0%, 40% 100%, 0% 100%, 0% 0%); }
    .form__animation__left.active {
      transition: transform .7s ease-in; }
  .form__animation__right {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    clip-path: polygon(100% 0%, 100% 100%, 40% 100%, 20% 0%); }
    .form__animation__right.active {
      transition: transform .7s ease-in; }
  .form__animation__cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    pointer-events: none; }
  .form__button__box {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem; }
  .form__header {
    text-align: center;
    font-size: 3rem;
    color: #80beff;
    font-family: "Kaushan Script";
    padding-bottom: 2rem; }

.input__text {
  margin-left: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .input__text {
      margin-left: 8rem; } }

.input__email {
  margin-left: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .input__email {
      margin-left: 8rem; } }

.input__phone {
  margin-left: 12rem; }
  @media only screen and (max-width: 37.5em) {
    .input__phone {
      margin-left: 8rem; } }

.input__textarea {
  margin-left: 26rem;
  transform: translate(-800px, 0);
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
  font-family: "Fredericka the Great";
  color: #80beff; }
  @media only screen and (max-width: 37.5em) {
    .input__textarea {
      margin-left: 14rem; } }
  .input__textarea.active {
    visibility: visible;
    opacity: 100;
    transform: translate(-6rem, 0);
    transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41);
    transition-delay: 1s; }

#submit {
  width: 0;
  visibility: hidden;
  opacity: 0; }

#submit:not(:placeholder-shown) + label {
  transform: translateX(-10rem) !important; }

.button {
  position: fixed;
  display: block;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000000;
  transform: translateX(0px);
  opacity: 100;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.52, -0.44, 0.56, 1.41); }
  .button.active {
    transform: translateX(300px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.55s cubic-bezier(0.52, -0.44, 0.56, 1.41); }

.animation__cover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  pointer-events: none; }

.button__join {
  outline: none; }

.form__button {
  display: flex;
  flex-direction: column; }
  .form__button label {
    font-size: 3rem;
    color: lightgray;
    font-family: "Fredericka the Great";
    padding-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form__button label {
        font-size: 2rem; } }
  .form__button input {
    display: none;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    outline: none; }
    .form__button input.active {
      display: block; }
  .form__button button {
    display: none;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px; }
    .form__button button.active {
      display: block; }

.chat__box {
  width: 100%;
  height: 35rem;
  right: 10rem;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none; }
  @media only screen and (max-width: 25em) {
    .chat__box {
      height: 100%;
      right: 0; } }

.chat {
  pointer-events: auto;
  overflow: hidden;
  position: relative;
  width: 28rem;
  height: 35rem;
  margin: 0 2rem;
  background-color: transparent; }
  @media only screen and (max-width: 25em) {
    .chat {
      background-color: black;
      z-index: 1000000;
      width: 100%;
      height: 100%;
      margin: 0 0; } }

.close {
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none; }

.close-btn {
  color: #fff;
  font-size: 1.4rem;
  border: none; }

ul, li {
  list-style-position: inside;
  color: lightgray; }

.status {
  display: flex;
  justify-content: center;
  align-items: center; }
  .status__img {
    margin-left: 1rem;
    height: 2rem;
    width: 2rem; }
    .status__img img {
      width: 100%;
      height: auto;
      object-fit: cover; }

.admin {
  padding-top: .5rem;
  font-weight: 600;
  text-align: center;
  font-family: "Lato";
  font-size: 1.4rem;
  color: lightgrey; }

button {
  border: 1px solid lightgray;
  border-radius: 4px;
  background: transparent;
  color: lightgray;
  cursor: pointer;
  padding: 1rem;
  transition: background .3s ease; }

button:hover {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 1rem; }

button:disabled {
  cursor: default; }

.chat {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.51); }
  @media only screen and (max-width: 25em) {
    .chat {
      background-color: black;
      z-index: 100000000;
      width: 100%;
      height: 100%;
      margin: 0 0; } }

.chat__sidebar {
  width: 100%;
  height: 8rem; }

.chat__sidebar ul {
  list-style-type: none; }

.chat__sidebar li {
  width: 80%;
  border: 1px solid #e1e1e1;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem; }

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .chat__messages::-webkit-scrollbar {
    width: 12px; }
  .chat__messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(198, 198, 198, 0.3);
    border-radius: 10px; }
  .chat__messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(209, 209, 209, 0.5); }
  .chat__messages li {
    font-size: 1.4rem; }

.chat__footer {
  background: transparent;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0; }

.chat__footer form {
  flex-grow: 1;
  display: flex; }

.chat__footer form * {
  margin-right: 10px; }

.chat__footer input {
  border: none;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
  font-family: "Lato";
  background: transparent;
  padding: 10px;
  flex-grow: 1;
  outline: none; }

.chat__messages {
  list-style-type: none;
  padding: 10px; }

.message {
  padding: 10px;
  font-family: "Lato"; }

.message__title {
  display: flex;
  margin-bottom: 5px; }

.message__title h4 {
  font-weight: 600;
  margin-right: 10px; }

.message__title span {
  color: #999; }

@media only screen and (max-width: 25em) {
  .users {
    display: flex;
    justify-content: center; }
    .users > ol {
      width: 50%; }
      .users > ol > li {
        width: 100%; } }

.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #171717; }
  .footer h1 {
    color: lightgray;
    font-size: 1.4rem;
    font-family: "Fredericka the Great";
    text-align: center; }
