//LOGO
$strokeColor: #9E9E9E;
$logoColor: #80beff;
$size: 140px;
$totalAnim: 9s;
$delay: 1s;
$svgSize: 70;
$squareLen: $svgSize * 4;
$lineLen: $svgSize;
$linesPerSide: 6;
$strokeLen: 600;
$fillLen: 290;



//BREAK POINTS
$bp-large: 75em;                //1200px
$bp-large-medium: 62.5em;       //1000px
$bp-large-small: 50em;          //800px
$bp-medium: 37.5em;             //600px
$bp-medium-small: 31.25em;      //500px
$bp-small: 25em;                //400px
$bp-smallest: 18.75em;          //300px


//PAGE VARIABLES
$color-primary: #dadada;
$color-blue: #80beff;

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  cursor: inherit;


}
html{
  box-sizing: border-box;
  font-size: 62.4%;
  cursor: none;
  @media only screen and(max-width: $bp-large){
    font-size: 57%;
  }
  @media only screen and(max-width: $bp-large-small){
    font-size: 54%;
  }
  @media only screen and(max-width: $bp-medium){
    font-size: 50%;
  }
  @media only screen and(max-width: $bp-small){
    font-size: 45%;
  }
}
body{
  overflow: hidden;
  background-color: #000;
  cursor: none;
}
.pic {
  z-index: 10000;
  //display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left:0;
  background-color: #000;
}
.blur {
  height: 100%;

}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.cursor{
  width: 40px;
  height: 40px;
  position: absolute;
  top:0;
  left:0;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: translate(15px 15px);
  z-index: 15500;
  transition: top .15s, left .15s;
  overflow: hidden;
  mix-blend-mode: difference;
  vertical-align: baseline;
  pointer-events: none;
  &.expand{
    width:100px;
    height: 100px;
    transform: translate(-3.5rem , -3.5rem);
    transition: height .4s cubic-bezier( .52,-0.44,.56,1.41), width .4s cubic-bezier( .52,-0.44,.56,1.41), transform .4s linear;



  }
}
.cursor-small{
  pointer-events: none;
  position: absolute;

  top:0;
  left:0;


  mix-blend-mode: difference;
  z-index: 15551;
  &.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all .3s
  }
}
.circle{
  fill: #fff;

}