.empty{
  width: 5rem;
  height: 1rem;
}
.circle-big{
  fill:#fff;
}
.cursor-box{
  pointer-events: none;
}

.line{
  width: 1px;
  height: 0;
  background-color: lightgray;
  transition: height .5s;
  &.active{
    width: 1px;
    height: 10rem;
    transition: height .5s;
  }
}
.wrapper-center{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}