.form {
  overflow: hidden;
  width: 100%;
  position: relative;

  &__box {
    height: 100%;

    &__form {
      padding: 20rem 0;
      display: flex;
      flex-direction: column;

      justify-content: center;
      @media only screen and(max-width: $bp-medium){
        padding: 5rem 0;
      }
      &__label {
        transform: translate(-800px, -3rem);
        visibility: hidden;
        opacity: 0;
        &.active {
          visibility: visible;
          opacity: 100;
          transform: translate(0, -3rem);
          transition: all .5s cubic-bezier(.52, -0.44, .56, 1.41);
          transition-delay: 1s;
        }
        font-size: 2rem;
        font-family: "Fredericka the Great";
        color: $color-blue;

      }
      & input {
        width: 50%;
        padding: 1rem 4rem 0 4rem;
        border: none;
        border-bottom: 1px solid lightgray;
        background-color: transparent;
        outline: none;
        color: #fff;
        font-family: "Lato";
        font-size: 1.8rem;
        transform: translate(-800px);

        opacity: 0;
        @media only screen and(max-width: $bp-medium){
          width: 80%;
        }
        &.active {

          opacity: 100;
          transform: translate(0);
          transition: all 1.5s cubic-bezier(.52, -0.44, .56, 1.41);
          &::placeholder {
            opacity: 0;
          }
          &:focus + label {
            transform: translate(-12rem, -3rem) !important;

            transition: all .5s;
            transition-delay: 0s !important;
          }
          &:not(:placeholder-shown) + label {
            transform: translate(-12rem, -3rem);
            transition: all .5s cubic-bezier(.52, -0.44, .56, 1.41);
            transition-delay: 0s !important;
          }

        }

      }
      & .textarea {
        margin-left: 18rem;
        width: 50%;
        padding: 1rem 4rem 0 4rem;
        border: none;
        //border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        font-family: "Lato";
        font-size: 1.8rem;
        outline: none;
        transform: translate(-800px);
        opacity: 0;
        @media only screen and(max-width: $bp-medium){
          margin-left: 8rem;
          width: 80%;
        }
        &.active {
          opacity: 100;
          transform: translate(0);
          transition: all 1s cubic-bezier(.52, -0.44, .56, 1.41);
          &::placeholder {
            opacity: 0;
          }
          &:focus + label {
            transform: translate(-12rem -3rem);
            transition-delay: 0s !important;
            transition: all .4s;
          }
          &:not(:placeholder-shown) + label {
            transform: translate(-12rem -3rem);
            transition: all .5s;
            transition-delay: 0s !important;
          }
        }

      }
      & .input__submit-label {

        font-size: 6rem;

        margin-left: auto;

        margin-right: 16rem;
        color: rgba(255, 255, 255, 0.61);
        position: relative;
        @media only screen and(max-width: $bp-medium){
          margin-right: 0;
        }
        &:hover {
          &:before {
            width: 100%;
            transition: all 2s;
          }
        }
        &:before {
          position: absolute;
          transform: translate(0, 4rem);
          content: "";
          display: block;
          height: .7rem;
          width: 0;
          background-color: red;
          z-index: -1;
          transition: all 1.5s;

        }
        & .input__span {
          z-index: 10;
          position: absolute;
          font-size: 3rem;
          font-family: "Lato";
          color: $color-blue;
          transform: translate(8rem, -3rem);
          @media only screen and(max-width: $bp-medium){
            transform: translate(0, 0);
          }
        }

      }
    }
  }
  &__animation__left {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    clip-path: polygon(20% 0%, 40% 100%, 0% 100%, 0% 0%);
    &.active {

      transition: transform .7s ease-in;
    }
  }
  &__animation__right {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    clip-path: polygon(100% 0%, 100% 100%, 40% 100%, 20% 0%);
    &.active {

      transition: transform .7s ease-in;
    }

  }
  &__animation__cover {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, .7) 0%,
            rgba(0, 0, 0, .3) 20%,
            rgba(0, 0, 0, .3) 80%,
            rgba(0, 0, 0, .7) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  &__button__box{
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  &__header{
    text-align: center;
    font-size: 3rem;
    color: $color-blue;
    font-family: "Kaushan Script";
    padding-bottom: 2rem;
  }
}

.input__text {
  margin-left: 4rem;
  @media only screen and(max-width: $bp-medium){
    margin-left:8rem;
  }
}

.input__email {
  margin-left: 8rem;
  @media only screen and(max-width: $bp-medium){
    margin-left:8rem;
  }
}

.input__phone {
  margin-left: 12rem;
  @media only screen and(max-width: $bp-medium){
    margin-left:8rem;
  }
}

.input__textarea {

  margin-left: 26rem;
  transform: translate(-800px, 0);
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
  font-family: "Fredericka the Great";
  color: $color-blue;
  @media only screen and(max-width: $bp-medium){
    margin-left:14rem;
  }
  &.active {
    visibility: visible;
    opacity: 100;
    transform: translate(-6rem, 0);
    transition: all .5s cubic-bezier(.52, -0.44, .56, 1.41);
    transition-delay: 1s;
  }

}

#submit {
  //margin-left: 22rem;
  width: 0;
  visibility: hidden;
  opacity: 0;
}
#submit{
  &:not(:placeholder-shown) + label{
    transform: translateX(-3rem) !important;
  }

}

