.top{
  background-image: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 1) 0%,
                  rgba(0, 0, 0, .8) 60%,
                  rgba(0, 0, 0, .7) 90%,
                  rgba(0, 0, 0, 1) 100%
  ), url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  &__box{
    transform: translateX(-500px);
    visibility: hidden;
    opacity: 0;

    &.active{
      transform: translateX(0);
      opacity: 100;
      visibility: visible;
      transition: all 1s;
    }
    &-header{
      white-space: nowrap;
      display: flex;

      & > div{

        //z-index: 600;
        //position: relative;
        font-weight: 400;
        font-family: "Fredericka the Great";
        font-size: 12rem;
        color: lightgray;
        transition: all .3s;
        @media only screen and(max-width: $bp-medium){
          font-size: 8rem;
        }
        &:hover{
          transform: translateY(-30px);
          transition: all .3s;

        }
      }
    }
  }
  &__navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

    &.active{
      transform: translateX(0%);
      opacity: 100;
      visibility: visible;
      transition: transform .7s cubic-bezier( .52,-0.44,.56,1.41), opacity 1.2s;
      &.close{
        transform: translateX(100%);

        transition: transform .7s cubic-bezier( .52,-0.44,.56,1.41), opacity 1.2s;
      }
    }
    &__list{
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20%;
      &__item{
        padding: 2rem 2rem;
        font-size: 3rem;
        color:  $color-blue;
        font-family: "Kaushan Script";
        position: relative;
        @media only screen and(max-width: $bp-medium){
          font-size: 2.5rem;
          padding: 2rem 1rem;

        }
        @media only screen and(max-width: $bp-small){
          font-size: 1.8rem;
          padding: 2rem 1rem;

        }
        &>a{
          text-decoration: none;
          color: inherit;
        }


      }
    }
  }
}

.top{

  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  padding-left: 20rem;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (max-width: 1200px){
  padding-left: 10rem;
}
  @media only screen and (max-width: $bp-small){
    padding-left: 6rem;
  }
  &-header{
     }
}
.boxpanel{
  pointer-events: none;
  transform: translate(200px, 800px);
  position: absolute;
  top: 10%;
  left: 15%;
  height: 60rem;
  width: 50rem;
  background-color: #fff;
  mix-blend-mode: difference;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  visibility: hidden;
  opacity: 0;
  @media only screen and(max-width: $bp-medium){
    left: 20%;
    height: 50rem;
    width: 40rem;

  }
  @media only screen and(max-width: $bp-small){
    left: 20%;
    height: 40rem;
    width: 30rem;

  }
  &.active{
    visibility: visible;
    opacity: 100;
    transform: translate(-200px, -900px);
    transition: transform .3s ease-in-out;
  }
}
.boxpanelPrime{
  pointer-events: none;
  transform: translate(200px, 800px);
  position: absolute;
  top: 10%;
  left: 15%;
  height: 60rem;
  width: 50rem;
  background-color: #fff;
  mix-blend-mode: difference;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  visibility: hidden;
  opacity: 0;
  @media only screen and(max-width: $bp-medium){
    left: 20%;
    height: 50rem;
    width: 40rem;

  }
  @media only screen and(max-width: $bp-small){
    left: 20%;
    height: 40rem;
    width: 30rem;

  }
  &.active{
    visibility: visible;
    opacity: 100;
    transform: translate(0px, 0px);
    transition: transform .15s ease-in;
    transition-delay: .9s;
  }
}